body {
    background-color: #f5f6f8;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

/*NAVBAR*/
.cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    border-bottom: 0.5px solid #ccc;
    /*box-shadow: 0 0 5px 2px rgb(0 0 0 / 33%);*/
    padding: 10px;
    overflow-x: hidden;
    
}

.cabecalho img {
    width: 200px;
    cursor: pointer;
    display: flex;
}

.search {
    margin-top: 0px;
   
}

.search input {
    color: #7c7c7c;
    font-size: 0.9em;
    border: none;
    outline: none;
    background: none;
    border-bottom: 0.5px solid #949aa0;
    width: 300px;
    cursor: text;

}

.search i {
    width: 26px;
    color: #949aa0;
    font-size: 1.15em;
    margin-top: 8px
}

/*CARTÕES*/
div.wrapper {
    width: 100%;
    display: flex;
    padding: 0 5%;
    flex-direction: column;
}

div.btn {
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px 0px 0px;
}

div.btn>button {
    background-color: #109cf1;
    color: #f5f6f8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    padding: 8px 25px;

}

div.btn>button:hover {
    background-color: #0996ee;

}

div.container {
    display: flex;
    width: 100%;
    overflow-x: scroll;

}

div.columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    height: 80vh;
    overflow: auto;
    align-items: center;
}

div.title {
    display: flex;
    justify-content: space-between;
    width: 80%;

}

div.cards {
    width: 80%;
    display: flex;
    margin: 20px 0px;
    padding: 20px 10px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

div.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

div.cards>h4 {
    padding-bottom: 10px;
}

div.cards>p {
    /*corta o texto que não cabe mais na caixa*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9rem;
    color: #6c757d;
    padding-bottom: 3px;
}

div.cards>span {
    font-size: 0.85rem;
    font-style: italic;
    color: #343a40;
}

/*Prioridades*/
.low {
    border-left: 3px solid #2ed47a;
}

.moderate {
    border-left: 3px solid #ffb946;
}

.high {
    border-left: 3px solid #f7685b;
}

@media (min-width: 320px) and (max-width: 480px) {
    .cabecalho img {
        width: 150px;
    }
    .search {
        margin-bottom: 10px;
    }
    .search input {
        width: 200px;
    }
    div.wrapper {
        padding: 0 0;
    }

    div.container {
        max-width: 1250px;
    }

    div.columns {
        min-width: 450px;
        margin-left: -20px;
        margin-top: 20px;
    }

    div.btn {
        justify-content: flex-start;
        padding: 20px 30px 0px 38px;
    }

    div.btn>button {
        font-size: 0.9em;

    }

}